{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <style>
        body{
            background-image: url("{% static 'todo.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin:0;
            font-family:Arial,sans-serif;
        }
        h1,h2,p,form,button{
            background-color: rgba(255,255,255,0.8);
            padding:10px;
            border-radius:8px;
            
        }
    </style>
</head>
<body>
    <h1 style="max-width: 300px;">To-Do List</h1>
    <div width="5px">
    <form method="POST" action="" style="max-width: 300px;">
        {% csrf_token %}
        <label for="task"></label>
        <input id="tasking" type="text" name="tk" required> 
        <input type="date" name="d1">
        <input id="sub" type="submit" name="Add Task"  required>
    </form><br>
    </div>
    <form method="get"  style="max-width: 300px;" action="">
    <input type="date" id="dt" name="dat">
    <button id="b1" type="submit">View Tasks</button>
    </form>
    <div id="read" style="display: block;">
    <h2 style="max-width: 300px;">List of tasks</h2>
    {% for x in tas %}
        <div style="max-width: fit-content;">
           <p id="comp">{{x.Title}}  <a href="done/{{x.id}}">Done</a> <a href="delete/{{x.id}}">Delete</a> <input type="button" id="{{x.id}}" value="update"> </p>
           
        </div>

    {% endfor %}
    {% if y in tas %}
    <dialog id="d1">
        <form>
        <input type="text" value="{{y.Title}}">
        <input type="submit">



       </dialog>
    {% endif %}

    </div>
    
    <script>
     function showDetails(){
        let dv=document.getElementById("read");
        let btn=document.getElementById("b1");
        if( dv.style.display=="none"){
            dv.style.display="block"
            btn.textContent="Hide"
        }
        else{
            dv.style.display="none"
            btn.textContent="View Tasks"
            

        }

     }

    //  function updatetext(){
    //     let ub=document.getElementById("{{x.id}}")
    //     let d=document.getElementById("d1")
    //     ub.addEventListener( 'click', () => {
    //         d.showModal();
    //     })

        
    //  }
     

    </script>
    
</body>
</html>